{% extends 'base.html.twig' %}
{% block body %}
    <h1>"Ups, No encontramos la página que estabas buscando"</h1>

       <a href="http://127.0.0.1:8000/" bg-yellow target="_blank">Click aquí para volver a la pagina principal.</a>
                

{% endblock %}