{% extends 'base.html.twig' %}

{% block title %}Privatetours{% endblock %}

{% block body %}
 <div class="contenedores">
 <div class="row">
            <div class="col-md-6">
            <div class="card-deck">
            <h1> PRIVATE TOURS 🍇  </h1>
            <p>The process couldn’t be easier!
            Each Private Wine Tour is tailored to your specific preferences. The package prices are determined 
            by a number of factors, such as how many guests will be on board, the day and season you choose and 
            how far away the pick-up location. We can pick you up from a wide radius, including San Ysidro, 
            Tijuana, Rosarito, and Ensenada area. Quoted tour prices are inclusive of all taxes and fuel fees.
             Quote Form (for any size group) below to convey your basic tour needs to us.
            We look forward to seeing you soon!</p>
            <p> 🍇 Private, customized wine tour designed specifically for you.</p>
            <p> 🍇 Taste some of the world’s most delicious wines.</p>
            <p> 🍇 Take in awesome and inspiring views.</p>
            <p> 🍇 Learn tidbits of local wine making history and culture.</p>
            <p> 🍇 Personal, highly trained and informed drivers/tour guides.</p>
            <p> 🍇 Flexible pricing options.</p>
            <p> 🍇 Simple and straightforward quoting and booking process.</p>
            <p> 🍇 Lunch option is available.</p>
            <h1>Create your own private wine tour</h1>
            <p>Our Private Wine Tours are unforgettable, personalized wine tours of the Valle de Guadalupe in 
            a dedicated vehicle with an experienced tour guide. These fully customized tours are perfect for 
            groups of two or parties of almost any size who are looking for a more intimate, specialized tour 
            of our suggested wineries and/or other locations of your choice, in a non-shared vehicle.</p>
            <p>We also provide Private Tours for larger group wine tours and special, social events like 
            private wedding-related tours, family reunions, and birthday celebrations. We also can 
            customize corporate outings for companies looking to add some zest to their team building or 
            reward your top colleagues or clients. If you’re interested in a larger Private Tour please 
            call 664-477-1836 for more information and a customized quote.</p>
            <p>Please note: Tours are not available on Christmas Day, and New Year’s Day.</p>

            </div>
            </div>

            <div class="col-md-5">
              <div class="card-publi">
                <img class="card-img-top" src="/images/pak.png" alt="Card image cap">
              </div>
               <div class="card-reserva">
              <!--Carousel Wrapper-->
              <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top">
                  <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                  <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->

                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                  <!--First slide-->
                  <div class="carousel-item active">

                    <div class="row">
                      <div class="col-md-4">
                        <div class="card mb-2">
                          <img class="card-img-top" src="/images/home18.png"
                            alt="Card image cap">
                        </div>
                      </div>

                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="/images/home19.png"
                            alt="Card image cap">
                        </div>
                      </div>

                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="/images/home20.png"
                            alt="Card image cap">
                        </div>
                      </div>
                    </div>

                  </div>
                  <!--/.First slide-->

                  <!--Second slide-->
                  <div class="carousel-item">

                    <div class="row">
                      <div class="col-md-4">
                        <div class="card mb-2">
                          <img class="card-img-top" src="/images/home25.png"
                            alt="Card image cap">
                        </div>
                      </div>

                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="/images/home22.png"
                            alt="Card image cap">
                        </div>
                      </div>

                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="/images/home23.png"
                            alt="Card image cap">
                        </div>
                      </div>
                    </div>

                  </div>
                  <!--/.Second slide-->


                </div>
                <!--/.Slides-->

            <div></div></div></div></div>
          
 </div>
  <div class="container"> <div align='center'>
            <h1>PRICING 🍇 </h1>

            <hr class="my-4">
            <div class="row">
            <div class="col-md-4"><div class="card mb-2">
                    <h2> MOSTLY RED WINES</h2>
                         <p>PRIVATE TOUR</p>
                         <p>3-PERSON MINIMUM</p>
                         <p>PICKUP AT YOUR LOCATION</p>
                         <p>IN ROSARITO, ENSENADA </p>
                         <p>OR THE VALLE WINE</p>
                         <p>TASTING AT 3 VINEYARDS</p>
                         <p>YOUR CHOICE FROM </p>
                         <p>VINEYARDS ABOVE WINES </p>
                         <p>AGES 1-3 YEARS</p>
                         <p>TASTING FEES INCLUDED</p>
                         <p>TOUR DURATION</p>
                         <p>APPROXIMATELY 6 HOURS</p>
                         <p>PRICE PER PERSON $99 </p>
                        </div></div>
            <div class="col-md-4"><div class="card mb-2">
                     <h2> PREMIUM TASTING</h2>
                       <p>PRIVATE TOUR</p>
                       <p>THREE VINEYARDS</p>
                       <p>LIMITED AVAILABILITY</p>
                       <p>ADVANCE BOOKING NECESSARY</p>
                       <p>WINES AGES 2-10 YEARS</p>
                       <p> TASTING FEES INCLUDED</p>
                       <p>TOUR DURATION</p>
                       <p>APPROXIMATELY 6 HOURS</p>
                       <p>COUPLES TOUR</p>
                       <p>$199 PER PERSON</p>
                       <p>GROUPS OF 3 OR MORE</p>
                       <p>$149 PER PERSON.</p>
                        </div></div>
            <div class="col-md-4"><div class="card mb-2">
                     <h2> TWO PERSON</h2>
                        <p>THE MOST INTIMATE </p>
                        <p>OF TOURS 2-PERSON</p>

                        <p>PICKUP AT YOUR LOCATION</p>
                        <p>IN ROSARITO, ENSENADA OR THE VALLE</p>
                        <p>WINE TASTING AT 3 VINEYARDS</p>
                        <p>YOUR CHOICE FROM VINEYARDS ABOVE</p>

                        <p>TASTING FEES INCLUDED</p>
                        <p>TOUR DURATION APPROXIMATELY </p>
                        <p>6 HOURS PRICE </p>
                        <p>PER PERSON $149.</p>
                        </div></div>
                  
      </div></br></div>
      </div></div>
{% endblock %}
